body {
  margin: 0;
  text-align: center;
  background-color: rgb(4, 4, 81);
}

.home-score {
  background: #0a0001;
  font-size: 90px;
  color: #F94F6D;
  width: 120px;
  margin: 20px;
}

.guest-score {
  background: #0a0001;
  font-size: 90px;
  color: #F94F6D;
  width: 120px;
  margin: 20px;
}

.container {
  top: 20px;
  display: flex;
  justify-content: space-around;
  color: white;
}

button {
  background: rgb(4, 4, 81);
  color: white;
  width: 50px;
}

.new-game{
  width: 50px;
  size: 50px;
}

#leadingTeam{
  color: white;
}